table{
border: 3px solid red;
}
#1{
    background-color:rgb(118, 57, 168);
    border-radius: 1%;
    padding: 5px;
    margin:  5px;
}
#2{
    background-color:rgb(156, 241, 199);
    border-radius: 1%;
    padding: 5px;
    margin:  5px;
}
#3{
    background-color:rgb(145, 170, 250);
    border-radius: 1%;
    padding: 5px;
    margin:  5px;
}
#4{
    background-color:rgb(255, 123, 0);
    border-radius: 1%;
    padding: 5px;
    margin:  5px;
}
#5{
    background-color:rgb(121, 172, 175);
    border-radius: 1%;
    padding: 5px;
    margin:  5px;
}
